<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097511783274-pqo0lhb940e095mscog38sumq7r587qm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097511783274-pqo0lhb940e095mscog38sumq7r587qm</string>
	<key>API_KEY</key>
	<string>AIzaSyC4PEb1tZ28zQqt6N6oG06C5_AhJ9Z7QqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1097511783274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sky.sky.instagramAppSky</string>
	<key>PROJECT_ID</key>
	<string>instagram-sky</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-sky.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097511783274:ios:883bc7772184193186f313</string>
</dict>
</plist>